configuration{
    display-drun: "Apps  ";
    display-window: "Tabs  ";
    font: "JetBrains Mono NL Bold 12";
    drun-display-format: "{icon} {name}";
    window-display-format: "{icon} {name}";
    modi: "window,drun";
    show-icons: true;
}
@theme "~/.config/rofi/Purge.rasi"
